@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!doctype html>
<html class="no-js" lang="PT">
    <head>
        <meta charset="utf-8">
        <title>@ViewData["Title"] - CVETBENAVENTE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-----------------------favicon-------------------->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <!----------------------/favicon-------------------->
        <!----------------------manifest-------------------->
        <link rel="manifest" href="/manifest.json">
        <!----------------------/manifest-------------------->
        <!-----------------------libs------------------------>
        <link rel="stylesheet" href="~/css/webfont.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/noty/lib/noty.min.css" />
        @RenderSection("VendorStyles", required: false)
        <!----------------------/libs------------------------>
        <!----------------scripts do template---------------->
        <link rel="stylesheet" href="~/css/card.min.css" />
        <link rel="stylesheet" href="~/css/sli.min.css" />
        <link rel="stylesheet" href="~/css/animate.min.css" />
        <link rel="stylesheet" href="~/css/app.min.css" />
        <!---------------/scripts do template---------------->
        <link rel="stylesheet" href="~/css/site.min.css" />

        @RenderSection("Styles", required: false)
    </head>

    <body class="page-loading">
        <!-- preloader -->
        <div class="pageload">
            <div class="pageload-inner">
                <div class="sk-wandering-cubes center-block m-y-lg">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                </div>
            </div>
        </div>
        <!-- /preloader -->
        <div class="app layout-fixed-header">
            <!-- sidebar panel -->
            <div class="sidebar-panel offscreen-left">
                <div class="brand">
                    <!-- toggle offscreen menu -->
                    <div class="toggle-offscreen">
                        <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <!-- /toggle offscreen menu -->
                    <!-- logo -->
                    <a class="brand-logo" href="~/">
                        <span><img src="~/images/logo_circles.png" /></span>
                    </a>
                    <a href="~/" class="small-menu-visible brand-logo"><img src="~/images/logo_circles.png"/></a>
                    <!-- /logo -->
                </div>
                <!-- main navigation -->
                <nav role="navigation">
                    <ul class="nav">
                        <!-- pagina inicial  -->
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                <i class="icon-compass"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <!-- /pagina inicial -->
                        <!-- clientes  -->
                        <li>
                            <a href="javascript:;">
                                <i class="icon-user"></i>
                                <span>Clientes</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Clientes")">
                                        <span>Ver Todos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Criar", "Clientes")">
                                        <span>Novo</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- /clientes  -->
                        <!-- animais -->
                        <li>
                            <a href="@Url.Action("Index", "Definicoes")">
                                <i class="icon- fa fa-paw"></i>
                                <span>Animais</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Clientes")">
                                        <span>Ver Todos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Criar", "Clientes")">
                                        <span>Novo</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Criar", "Clientes")">
                                        <span>Espécies</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="@Url.Action("Index","Especies")">
                                                <span>Ver Todas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Criar","Especies")">
                                                <span>Nova</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- /animais -->
                        <!-- administração -->
                        <li>
                            <a href="@Url.Action("Index", "Definicoes")">
                                <i class="icon-settings"></i>
                                <span>Administração</span>
                            </a>
                        </li>
                        <!-- /administração -->
                    </ul>
                </nav>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar panel -->
            <!-- content panel -->
            <div class="main-panel">
                <!-- top header -->
                <div class="header navbar">
                    <div class="brand visible-xs">
                        <!-- toggle offscreen menu -->
                        <div class="toggle-offscreen">
                            <a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <!-- /toggle offscreen menu -->
                        <!-- logo -->
                        <a class="brand-logo responsive" href="~/">
                            <img src="~/images/logo_circles.png" />
                        </a>
                        <!-- /logo -->
                    </div>
                    <ul class="nav navbar-nav hidden-xs">
                        <li>
                            <a href="javascript:;" class="small-sidebar-toggle ripple" data-toggle="layout-small-menu">
                                <i class="icon-toggle-sidebar"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li>
                            <a href="javascript:;" class="ripple" data-toggle="dropdown">
                                <i class="icon-bell"></i>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li class="notifications-header">
                                    <p class="text-muted small">You have 3 new messages</p>
                                </li>
                                <li>
                                    <ul class="notifications-list">
                                        <li>
                                            <a href="javascript:;">
                                                <div class="notification-icon">
                                                    <div class="circle-icon bg-success text-white">
                                                        <i class="icon-bulb"></i>
                                                    </div>
                                                </div>
                                                <span class="notification-message"><b>Sean</b> launched a new application</span>
                                                <span class="time">2s</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="notification-icon">
                                                    <div class="circle-icon bg-danger text-white">
                                                        <i class="icon-cursor"></i>
                                                    </div>
                                                </div>
                                                <span class="notification-message"><b>Removed calendar</b> from app list</span>
                                                <span class="time">4h</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="notification-icon">
                                                    <div class="circle-icon bg-primary text-white">
                                                        <i class="icon-basket"></i>
                                                    </div>
                                                </div>
                                                <span class="notification-message"><b>Denise</b> bought <b>Urban Admin Kit</b></span>
                                                <span class="time">2d</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="notification-icon">
                                                    <div class="circle-icon bg-info text-white">
                                                        <i class="icon-bubble"></i>
                                                    </div>
                                                </div>
                                                <span class="notification-message"><b>Vincent commented</b> on an item</span>
                                                <span class="time">2s</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="notification-icon">
                                                    <img src="images/face3.jpg" class="avatar img-circle" alt="">
                                                </span>
                                                <span class="notification-message"><b>Jack Hunt</b> has <b>joined</b> mailing list</span>
                                                <span class="time">9d</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </div>
                <!-- /top header -->
                <!-- main area -->
                <div class="main-content">

                    @if (ViewData["ShowTitle"] == null || ViewData["ShowTitle"].ToString() != "false")
                    {
                        <div class="page-title">
                            <div class="title">
                                @RenderSection("TitleBefore", required: false)

                                @if (ViewData["CustomTitle"] == null || ViewData["CustomTitle"].ToString() == "")
                                {
                                    @ViewData["Title"]
                                }
                                else
                                {
                                    @ViewData["CustomTitle"]
                                }

                                @RenderSection("TitleAfter", required: false)
                            </div>
                        </div>
                    }

                    @RenderBody()
                </div>
                <!-- /main area -->
            </div>
            <!-- /content panel -->
            <!-- bottom footer -->
            <footer class="content-footer">
                <nav class="footer-right">
                    <ul class="nav">
                        <li>
                        </li>
                        <li>
                            <a href="javascript:;" class="scroll-up">
                                <i class="fa fa-angle-up"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-left hidden-xs">
                    <ul class="nav">
                        <li>
                            <a href="http://bomsite.com" target="_blank"><img src="~/images/bst_blue.png" /></a>
                        </li>
                    </ul>
                </nav>
            </footer>
            <!-- /bottom footer -->
        </div>
        <script type="text/javascript" src="~/js/helpers/modernizr.js"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/fastclick/lib/fastclick.js"></script>
        <script type="text/javascript" src="~/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
        <script type="text/javascript" src="~/js/helpers/smartresize.min.js"></script>
        <script type="text/javascript" src="~/lib/noty/lib/noty.min.js"></script>
        <script type="text/javascript" src="~/js/constants.min.js"></script>
        <script type="text/javascript" src="~/js/main.min.js"></script>
        @RenderSection("Scripts", required: false)
        <script type="text/javascript" src="~/js/site.min.js"></script>
    </body>
</html>