@model web.cvetbenavente.Models.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["ShowTitle"] = "false";
}

@section TopScripts {
    <script type="text/javascript" src="~/lib/chart.js/dist/Chart.min.js"></script>
}

<div id="Home">
    <!--MAINGRAPH OUTERMOST-->
    <div class="m-x-n-g m-t-n-g m-b-sm overflow-hidden">
        <div class="card p-t-md p-l-md p-r-md m-a-0 bg-primary-dark text-white no-border">
            <h4 class="m-a-0">
                <span class="pull-right">Últimos 6 Meses</span>
                <span>Atividade</span>
            </h4>
        </div>
        <!--MainGraph Outer-->
        <div class="card m-b-0 bg-primary-dark text-white no-border" style="height: 20vw; min-height: 250px; padding: 10px 20px">
            <canvas id="MainGraph"></canvas>
            <script>
                new Chart(document.getElementById("MainGraph").getContext('2d'), {
                    type: 'line',
                    data: {
                        labels: [
                            @foreach (var item in Model.MainGraph.Meses)
                            {
                                @Html.Raw("'" + item.Nome.ToUpper() + "',");
                            }
                        ],
                        datasets: [
                            {
                                label: "Novos Clientes",
                                backgroundColor: "#CDDC39",
                                borderColor: "#CDDC39",
                                data: [
                                    @foreach (var item in Model.MainGraph.Meses)
                                    {
                                        @Html.Raw(item.NovosClientes + ",");
                                    }
                                ],
                                fill: false
                            },
                            {
                                label: "Novos Animais",
                                backgroundColor: "#f77066",
                                borderColor: "#f77066",
                                data: [
                                    @foreach (var item in Model.MainGraph.Meses)
                                    {
                                        @Html.Raw(item.NovosAnimais + ",");
                                    }
                                ],
                                fill: false
                            }
                        ]
                    },
                    options: {
                        maintainAspectRatio: false,
                        legend: {
                            labels: {
                                fontColor: "white"
                            }

                        },
                        barValueSpacing: 20,
                        scales: {
                            yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true,
                                    fontColor: "white"
                                },
                                gridLines: {
                                    display: true,
                                    color: "rgba(211, 211, 211, 0.1)"
                                }
                            }],
                            xAxes: [{
                                display: true,
                                ticks: {
                                    fontColor: "white"
                                },
                                gridLines: {
                                    display: false,
                                    color: "rgba(211, 211, 211, 0.1)"
                                }
                            }]
                        },
                        gridLines: {
                            color: "rgba(211, 211, 211, 0.1)"
                        }
                    }
                });
            </script>
        </div>
        <!--/MainGraph Outer-->
        <div class="card bg-white no-border m-b-0">
            <div class="row text-center">
                <div class="col-xs-4 p-t p-b">
                    <h4 class="m-t-0 m-b-0">@Model.NrClientes</h4>
                    <small class="text-muted bold">Total de Clientes</small>
                </div>
                <div class="col-xs-4 p-t p-b">
                    <h4 class="m-t-0 m-b-0">@Model.NrAnimais</h4>
                    <small class="text-muted bold">Total de Animais</small>
                </div>
                <div class="col-xs-4 p-t p-b">
                    <h4 class="m-t-0 m-b-0">@Model.AnimaisPorCliente.ToString("0.##")</h4>
                    <small class="text-muted bold">Animais p/ Cliente</small>
                </div>
            </div>
        </div>
    </div>
    <!--/MAINGRAPH OUTERMOST-->

    <!--QUICK ACTIONS-->
    <div class="row m-b m-t">
        <div class="col-lg-3 col-md-6">
            <a class="btn btn-lg btn-dark btn-icon m-b-sm w-100" asp-action="Criar" asp-controller="Eventos">
                <i class="icon-calendar mr5"></i>
                <span>Novo Evento</span>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a class="btn btn-lg btn-primary btn-icon m-b-sm w-100" asp-action="Criar" asp-controller="Clientes">
                <i class="icon-user-follow mr5"></i>
                <span>Novo Cliente</span>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a class="btn btn-lg btn-success btn-icon m-b-sm w-100" asp-action="Criar" asp-controller="Animais">
                <i class="fa fa-paw mr5"></i>
                <span>Novo Animal</span>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a class="btn btn-lg btn-info btn-icon m-b-sm w-100" asp-action="Criar" asp-controller="Especies">
                <i class="icon-plus mr5"></i>
                <span>Nova Espécie</span>
            </a>
        </div>
    </div>
    <!--/QUICK ACTIONS-->

    <div class="row">
        <!--TOPESPECIES OUTERMOST-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card card-block bg-white p-b-0 no-border">
                <div class="text-center">
                    <h5 class="m-a-0 text-uppercase">Distribuição de Animais por Espécie</h5>
                </div>
                <!--TOPESPECIES OUTER-->
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="pie-chart m-a-md">
                            <canvas id="TopEspecies" height="175"></canvas>
                            <script>
                        new Chart(document.getElementById("TopEspecies").getContext('2d'), {
                            type: "doughnut",
                            data: {
                                labels: [
                                    @foreach (var item in Model.TopEspecies.Labels)
                                    {
                                        @Html.Raw("'" + item.ToString() + "', ")
                                    }
                                ],
                                datasets: [{
                                    label: "My First Dataset",
                                    data: [
                                        @foreach (var item in Model.TopEspecies.Valores)
                                        {
                                            @(item.ToString() + ", ")
                                        }
                                    ],
                                    backgroundColor: [
                                        @foreach (var item in Model.TopEspecies.RGB)
                                        {
                                            @Html.Raw("'rgb(" + item.Item1 + ", " + item.Item2 + ", " + item.Item3 + ")', ")
                                        }
                                    ]
                                }]
                            },
                            options: {
                                animation: {
                                    easing: "linear",
                                    duration: 1250
                                },
                                legend: {
                                    display: false
                                },
                                cutoutPercentage: 50,
                            }
                        });
                            </script>
                        </div>
                        <div class="text-center m-b-md m">
                            <div class="text-muted text-uppercase">Total</div>
                            <h5 class="m-a-0">@Model.NrAnimais Animais</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-xs-12">
                        <ul class="list-unstyled m-x-n m-b-0">
                            @{
                                int i = 0;
                                foreach (var item in Model.TopEspecies.Labels)
                                {
                                    if (i <= 3)
                                    {
                                        <li class="p-a-md">
                                            <span class="pull-right">@Model.TopEspecies.Valores[i]</span>
                                            <i class="fa fa-circle m-r" style="color: rgb(@Model.TopEspecies.RGB[i].Item1,@Model.TopEspecies.RGB[i].Item2,@Model.TopEspecies.RGB[i].Item3)"></i>
                                            @item
                                        </li>
                                    }
                                    else
                                    {
                                        break;
                                    }

                                    i++;
                                }
                            }
                        </ul>
                    </div>
                </div>
                
                <!--/TOPESPECIES OUTER-->
                    
                
                
            </div>
        </div>
        <!--/TOPESPECIES OUTERMOST-->

        <!--EVENTOS POR ANO OUTERMOST-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card card-block no-border bg-white">
                <div class="card-title text-center">
                    <h5 class="m-a-0 text-uppercase">Distribuição Anual de Eventos</h5>
                </div>
                <!--EVENTOS POR ANO OUTER-->
                <div class="canvas-holder" style="height: 25vh; min-height: 250px;">
                    <canvas id="DistribuicaoAnual"></canvas>
                    <script>
                        new Chart(document.getElementById("DistribuicaoAnual").getContext('2d'), {
                            type: 'bar',
                            data: {
                                labels: [
                                    @foreach (var mes in Model.EventosMes.Meses)
                                    {
                                        @Html.Raw("'" + mes.Nome.ToUpper() + "',");
                                    }
                                ],
                                datasets: [{
                                    label: 'Nº de Eventos',
                                    data: [
                                        @foreach (var mes in Model.EventosMes.Meses)
                                        {
                                            @Html.Raw(mes.Count + ", ");
                                        }
                                    ],
                                    backgroundColor: '#6164C1',
                                    borderWidth: 0
                                }]
                            },
                            options: {
                                maintainAspectRatio: false,
                                scales: {
                                    yAxes: [{
                                        gridLines: {
                                            color: "rgba(211, 211, 211, 0.3)"
                                        },
                                        ticks: {
                                            beginAtZero: true,
                                            stepSize: 1,
                                            fontColor: "#59595a"
                                        }
                                    }],
                                    xAxes: [{
                                        barPercentage: 0.2,
                                        gridLines: {
                                            display: false,
                                            color: "rgba(211, 211, 211, 0.3)"
                                        },
                                        ticks: {
                                            fontColor: "#59595a"
                                        }
                                    }]
                                },
                                legend: {
                                    display: false,
                                    labels: {
                                        fontColor: "#59595a"
                                    }
                                }
                            }
                        });
                    </script>
                </div>
                <!--/EVENTOS POR ANO OUTER-->
            </div>
        </div>
        <!--/EVENTOS POR ANO OUTERMOST-->
    </div>
</div>