@model List<web.cvetbenavente.Models.Animal>

@{
    ViewData["Title"] = "Todos os Animais";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
}

<div class="row hidden-print">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a asp-action="Criar" class="btn btn-primary btn-icon m-b w-100">
            <i class="icon-plus mr5"></i>
            <span>Novo Animal</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-6">
        <a asp-action="ExportToExcel" class="btn btn-default btn-icon m-b w-100">
            <i class="fa fa-file-excel-o mr5"></i>
            <span>Exportar para Excel</span>
        </a>
    </div>
</div>

<!--Filtros-->
<div class="card bg-white hidden-print">
    <div class="card-header">
        Filtros
    </div>
    <div class="card-block">
        <form method="get" asp-action="Index">
            <div class="row m-a-0">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="IndexAnimaisSearch" class="col-sm-2 control-label p-a-0">Pesquisa</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="text" name="q" id="IndexAnimaisSearch" class="form-control" placeholder="Introduza a pesquisa..." value="@ViewData["q"]" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group" id="AnimaisIndexEstadoFormGroup">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="col-sm-2 control-label p-a-0">Estado</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <select id="ClientesIndexEstado" name="type" class="form-control block w-100">
                                    @if ((int)ViewData["type"] == 1)
                                    {
                                        <option value="1" selected="selected">Ativo</option>
                                    }
                                    else
                                    {
                                        <option value="1">Ativo</option>
                                    }
                                    @if ((int)ViewData["type"] == 2)
                                    {
                                        <option value="2" selected="selected">Inativo</option>
                                    }
                                    else
                                    {
                                        <option value="2">Inativo</option>
                                    }
                                    @if ((int)ViewData["type"] == 0)
                                    {
                                        <option value="0" selected="selected">Ambos</option>
                                    }
                                    else
                                    {
                                        <option value="0">Ambos</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="col-sm-2 control-label p-a-0">Cliente</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <select name="cl" id="ClienteSelect" class="form-control" style="width: 100%" lang="pt-pt">
                                    @if (ViewBag.SearchCliente != null)
                                    {
                                        <option value="@ViewBag.SearchCliente.Id" selected="selected">@ViewBag.SearchCliente.Nome</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="col-sm-2 control-label p-a-0">Espécie</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <select name="esp" id="EspeciesSelect" class="form-control" style="width: 100%" lang="pt-pt">
                                    @if (ViewBag.SearchEspecie != null)
                                    {
                                        <option value="@ViewBag.SearchEspecie.Id" selected="selected">@ViewBag.SearchEspecie.Nome</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="col-sm-2 control-label p-a-0">&nbsp;</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-primary w-100">
                                    Pesquisar
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <a asp-action="Index" class="btn btn-danger w-100">
                                    Limpar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!--Tabela de Animais-->
<span class="text-muted">Página @((int)ViewData["page"]) de @((int)ViewData["maxres"]) resultados</span>

<div class="table-responsive">
    <table class="table table-bordered table-hover m-b-0" id="AnimaisIndexTable">
        <thead class="card-header b-a-0 m-a-0">
            <tr>
                <th>Nome</th>
                <th>Espécie</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (!item.Cliente.Active)
                            {
                                <span class="label bg-red size-10 va-i">Inativo</span>
                            }
                            <i class="colored hidden-print @((item.Genero == Enums.Genero.M) ? "icon-symbol-male" : "icon-symbol-female")"></i>&nbsp;
                            <a asp-controller="Animais" asp-action="Detalhes" asp-route-id="@item.Id" class="hidden-print">@item.Nome</a>
                            <span class="visible-print">@item.Nome</span>
                        </td>
                        <td>
                            <a asp-controller="Especies" asp-action="Detalhes" asp-route-id="@item.Especie.Id" class="hidden-print">@item.Especie.Nome</a>
                            <span class="visible-print">@item.Especie.Nome</span>
                        </td>
                        <td>
                            <a asp-controller="Clientes" asp-action="Detalhes" asp-route-id="@item.Cliente.Id" class="hidden-print">@item.Cliente.Nome</a>
                            <span class="visible-print">@item.Cliente.Nome</span>
                            <span class="text-muted size-10">@item.Cliente.Contacto</span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">
                        Não existem animais a mostrar.
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>


<ul class="pagination pagination-sm clearfix block">
    <li>
        <a onclick="insertParameter('p', 1)">Primeiro</a>
    </li>
    @{
        int page = (int)ViewData["page"];
        int maxPages = Convert.ToInt32((decimal)ViewData["maxpages"]);
        int pageMaxDiff = maxPages - page;
        int pagesRendered = 0;

        if (maxPages <= 5)
        {
            for (int i = 1; i <= maxPages; i++)
            {
                <li class="@((page == i) ? "active" : "")">
                    <a onclick="insertParameter('p', @i)">@i</a>
                </li>
            }
        }
        else
        {
            if (page < 3)
            {
                for (int i = 1; i <= page; i++)
                {
                    <li class="@((page == i) ? "active" : "")">
                        <a onclick="insertParameter('p', @i)">@i</a>
                    </li>
                    pagesRendered++;
                }

                var max = (5 - pagesRendered > maxPages) ? maxPages : (5 - pagesRendered);

                for (int i = page + 1; i <= 5; i++)
                {
                    <li>
                        <a onclick="insertParameter('p', @i)">@i</a>
                    </li>
                    pagesRendered++;
                }
            }
            else if (pageMaxDiff < 3)
            {
                for (int i = maxPages - 4; i <= maxPages; i++)
                {
                    <li class="@((page == i) ? "active" : "")">
                        <a onclick="insertParameter('p', @i)">@i</a>
                    </li>
                    pagesRendered++;
                }
            }
            else
            {
                for (int i = page - 2; i <= page + 2; i++)
                {
                    <li class="@((page == i) ? "active" : "")">
                        <a onclick="insertParameter('p', @i)">@i</a>
                    </li>
                    pagesRendered++;
                }
            }
        }
    }
    <li>
        <a onclick="insertParameter('p', @maxPages)">Último</a>
    </li>
</ul>
@section Scripts {
    <script type="text/javascript" src="~/lib/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/select2/dist/js/i18n/pt.js"></script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}