@model List<Cliente>

@{
    if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@item.Id">
                        @item.Nome
                        <span class="pull-right size-10 text-muted lh-19"><i class="icon-arrow-right"></i></span>
                    </a>
                </td>
                <td>@item.Morada, @item.CodPostal @item.Localidade</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Não existem clientes a mostrar.</td>
        </tr>

    }
}
