@model List<Cliente>

@{
    if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                        @item.Nome
                        @{
                            if (item.Active == false)
                            {
                                <span class="label bg-red size-10 va-i">Inativo</span>
                            }
                        }
                </td>
                <td>
                    @item.Morada, @item.CodPostal @item.Localidade
                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="hidden-print">
                        <span class="pull-right size-14 lh-19"><i class="icon-eye"></i></span>
                    </a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Não existem clientes a mostrar.</td>
        </tr>
    }
}
