@model List<Cliente>

@{
    if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                        @item.Nome
                </td>
                <td>
                    @item.Morada, @item.CodPostal @item.Localidade
                    <a asp-action="Detalhes" asp-route-id="@item.Id">
                        <span class="pull-right size-14 lh-19"><i class="icon-eye"></i></span>
                    </a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Não existem clientes a mostrar.</td>
        </tr>
    }
}
