@model web.cvetbenavente.Models.Cliente

@{
    ViewData["Title"] = Model.Nome;
}
@if (!Model.Active)
{
    @section TitleAfter {
        <a class="size-14" data-toggle="popover" data-placement="bottom"
           data-content="Um cliente inativo não pode ser alterado,
           não pode ser associado a eventos, não receberá notificações
           de eventos e quaisquer animais que lhe estejam associados estão
           igualmente inativos. É possivel reativar um cliente."
           data-original-title="Cliente Inativo">
            <span class="label bg-red size-10 va-m">
                Inativo&nbsp;
                <i class="icon-info va-tb"></i>
            </span>
        </a>
    }
}
<div class="row hidden-print">
    @if (Model.Active)
    {
        <div class="col-sm-4 col-md-3">
            <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary btn-icon m-b block">
                <i class="icon-pencil mr5"></i>
                <span>Editar</span>
            </a>
        </div>
        <div class="col-sm-4 col-md-3">
            <a asp-action="Criar" asp-controller="Animais" asp-route-cl="@Model.Id" class="btn btn-success btn-icon m-b block">
                <i class="fa fa-paw mr5"></i>
                <span>Adicionar Animal</span>
            </a>
        </div>
        <div class="col-sm-4 col-md-3 col-md-offset-3">
            <a href="javascript:;" data-id="@Model.Id" class="btn btn-danger btn-icon m-b block disable-user">
                <i class="icon-user-unfollow mr5"></i>
                <span>Desativar</span>
            </a>
        </div>
    }
    else
    {
        <div class="col-sm-4 col-md-3">
            <a href="javascript:;" class="btn btn-warning btn-icon m-b block enable-user" data-id="@Model.Id">
                <i class="icon-user-following mr5"></i>
                <span>Ativar</span>
            </a>
        </div>
    }

</div> @{/*--row*/}
<div class="block">
    <span class="text-muted">
        Criado a <b>@Model.DataCriacao.ToString("d/MM/yyyy")</b><!--
        -->@if (Model.DataEdicao != null)
        {<!--
            --><span>,</span> <span>Editado a <b>@Model.DataEdicao.Value.ToString("d/MM/yyyy")</b>.</span>
        }<!--
        -->@if (Model.DataDesativacao != null)
        {<!--
            --><span> Inativo desde <b>@Model.DataDesativacao.Value.ToString("d/MM/yyyy")</b></span>
        }

    </span>
</div>
<div class="card bg-white">
    <div class="card-header">
        Dados Pessoais
    </div>
    <div class="card-block">
        <div class="row m-a-0">
            <div class="col-lg-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Contacto</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Contacto, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Morada</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Morada, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            @Html.TextBoxFor(model => model.CodPostal, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Localidade, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Observações</label>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Observacoes, new { @class = "form-control", @readonly = "readonly", @rows = "3" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<a asp-action="Index" id="VoltarLink" class="hidden-print">
    <i class="icon-arrow-left"></i>
    <span class="text">Voltar</span>
</a>

@section VendorStyles {
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
}
@section Scripts {
    <script type="text/javascript" src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
}